<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Web/Home</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>547</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Search</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>545</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mail</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>394</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>My Favorites</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>386</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Favorite 1</string>
		<key>usagePage</key>
		<integer>65280</integer>
		<key>usage</key>
		<integer>65285</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Favorite 2</string>
		<key>usagePage</key>
		<integer>65280</integer>
		<key>usage</key>
		<integer>65285</integer>
		<key>value</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Favorite 3</string>
		<key>usagePage</key>
		<integer>65280</integer>
		<key>usage</key>
		<integer>65285</integer>
		<key>value</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Favorite 4</string>
		<key>usagePage</key>
		<integer>65280</integer>
		<key>usage</key>
		<integer>65285</integer>
		<key>value</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Favorite 5</string>
		<key>usagePage</key>
		<integer>65280</integer>
		<key>usage</key>
		<integer>65285</integer>
		<key>value</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Calculator</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>402</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Zoom +</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>557</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Zoom -</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>558</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Help</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>149</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Undo</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>538</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Redo</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>633</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>New</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>513</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Open</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>514</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Close</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>515</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Reply</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>649</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Fwd</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>651</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Send</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>652</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Spell</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>427</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Save</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>519</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Print</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>520</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Forward</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>549</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Backward</string>
		<key>usagePage</key>
		<integer>12</integer>
		<key>usage</key>
		<integer>548</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
